{% load static %}
<header>
  <nav class="navbar shadow-sm">
    <div class="container">
      {% with request.resolver_math.view_name as view_name %}
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'library:index' %} active {% endif %}"
              href="{% url 'library:index' %}"
            >
              Главная
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'library:reader_books' %}" class="nav-link">{{ user.username }}</a>
            </li>
            <li class="nav-item">
              <form action="{% url 'auth:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Выйти</button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'login' %} active {% endif %}"
                href="{% url 'auth:login' %}" 
              >
                Войти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'registration' %} active {% endif %}"
                href="{% url 'auth:registration' %}" 
              >
                Регистрация
              </a>
            </li>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>