{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Главная страница{% endblock title %}
{% block content %}
  <h1>Список книг</h1>
  <div class="table-responsive"">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Автор</th>
          <th scope="col">Жанр</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
        {% for book in object_list %}
          <tr>
            <td>
              <span>{{ book.title }}</span>
              <button class="copy-btn btn btn-primary" data-title="{{ book.title }}">Копировать</button>
            </td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}">
                {% if book.id in user_books %}
                  <button type="submit" class="btn btn-primary">Вернуть книгу</button>
                {% else %}
                  <button type=submit class="btn btn-primary">Взять книгу</button>
                {% endif %}
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}