{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Мои книги{% endblock title %}
{% block content %}
  <h1 class="mb-4 text-center">Книги {{ user.username }}:</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Автор</th>
          <th scope="col">Жанр</th>
          <th scope="col">Взята</th>
          <th scope="col">Дней</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
          <tr>
            
            <td>
              <span>{{ obj.book.title }}</span>
              <button class="copy-btn btn btn-primary" data-title="{{ book.title }}">Копировать</button>
            </td>
            <td>{{ obj.book.author }}</td>
            <td>{{ obj.book.genre }}</td>
            <td>{{ obj.receiving_date }}</td>
            <td>{{ obj.days_on_hands }}</td>
            {% if not obj.returned_date %}
              <td>
                <form method="POST" class="d-inline">
                  {% csrf_token %}
                  <input type="hidden" name="book_id" value="{{ obj.book.id }}">
                  <button type="submit" class="btn btn-primary btn-sm">Вернуть книгу</button>
                </form>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}